<mat-toolbar color="primary" style="height:3rem">
<!--   <span><img src="/assets/images/logo.png" height=30 width=41></span> -->
  <span class="small-gap"></span>
  <span><img src="/assets/images/logo.png" height=25rem width=25rem></span>
  <span class="tiny-gap"></span>
  <span class="name"> GameSweep</span>
  <span class="medium-gap"></span>
  <a mat-button routerLink='/home' routerLinkActive="active" color="primary"> HOME</a>
  <a mat-button routerLink='/about' routerLinkActive="active" color="primary"> ABOUT</a>
<!--   <a mat-button><span class="fa fa-info fa-lg"></span> About</a> -->
  <span class="fill-space"></span>
  <a mat-button color="primary"> LOGIN</a>
  <span class="small-gap"></span>
</mat-toolbar>