<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div fxFlex class="margin-left">
        <h3>About GameSweep</h3>
        <hr>
    </div>
  </div>

  <div class="margin-left" fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="10">
      </div>
      <div fxFlex="70">
        <p>GameSweep is a platform designed to help you make and track your sports predictions.</p>
        <p>The login and user functionality has not been created yet. Otherwise you could go ahead and make an account by clicking login in the top corner, to maintain your profile and save all your predictions.</p>
        <p>So far there exists data for only the 2019 season of the NFL, but will expand to other sports leagues soon. Get started now by clicking on Home.</p>
        <p> After you click on Home, choose which part of the season, week, and game you want and see the details of each team's (outcome-based) stats to help you decide.</p>
        <p> Currently the UI for this app is only available on desktop browsers.</p>
      </div>
  </div>
</div>