<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>About GameSweep</h3>
        <hr>
    </div>
  </div>

  <div class="body-left" fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="70">
        <p>GameSweep is a platform designed to help you make and track your sports predictions. Go ahead and make an account by clicking login in the top corner, to maintain your profile and save all your predictions. </p>
        <p>So far there exists functionalities for only the NFL, but we look to expand to other sports leagues soon. Get started now by clicking on the week you want to look at data from.</p>
      </div>
  </div>
</div>