.example-container {
  height: 34rem;
  min-width: 13rem;
  width:15%;
}

.example-container-1 {
  padding-left: 2rem;
  height: 34rem;
  min-width: 40rem;
  width:80%
}

.active {
  opacity: 1.0;
  background: #ECF0F1;
}