.scontainer {
  height: 34rem;
  min-width: 13rem;
  display: flex;
}

.scontainer-1 {
  height: 34rem;
  display: flex;
}

.scontainer-2 {
  width: 100%;
  display: flex;
}

.smatDrawer {
  display: flex;
  width: 100%;
}


.active {
  opacity: 1.0;
  background: #ECF0F1;
}