<div class="margin-left">
	<mat-drawer-container class="example-container">
	  <mat-drawer mode="side" class="example-container" opened autosize>
		<mat-nav-list>
<!-- 			<a mat-button *ngFor="let week of weekTypes" [routerLink]="['week',week.weekNum]" 
    			routerLinkActive="active" color="secondary"> {{ week.weekF }} </a> -->
			<mat-list-item *ngFor="let week of weeks" color="primary" style="height:2rem">
				<h1 matLine> {{ week.weekF }}</h1>
			</mat-list-item>
		</mat-nav-list>
	  </mat-drawer>
	</mat-drawer-container>
</div>