<div fxLayout="row" class="container-leftRight">
	<mat-drawer-container class="smatDrawer">
	  <mat-drawer mode="side" class="scontainer" opened>
		<mat-nav-list>
			<h2 class="barTitle"> Week </h2>
			<mat-divider class="dividerPrimary"></mat-divider>
			<a mat-list-item *ngFor="let week of weeks" [routerLink]="['week',week.weekNum]" 
    			color="primary" routerLinkActive="active"> {{ week.weekF }} </a>
		</mat-nav-list>
	  </mat-drawer>
	  <mat-drawer-content class= "scontainer-1">
	  	<router-outlet></router-outlet>
	  </mat-drawer-content>
	</mat-drawer-container>
</div>
