<div>
<!-- 	<mat-drawer-container>
	  <mat-drawer mode="side" class="example-container" opened>
		<mat-nav-list>
			<a mat-list-item *ngFor="let matchup of matchups" [routerLink]="[,week.weekNum]" 
    			routerLinkActive="active" color="primary"> {{ week.weekF }} </a>
			<a mat-list-item *ngFor="let matchup of matchups" color="primary"> {{ matchup.team1 }} </a>
		</mat-nav-list>
	  </mat-drawer>
	  <mat-drawer-content class= "example-container">
	  </mat-drawer-content>
	</mat-drawer-container> -->
	<mat-list>
		<h2 class="barTitle"> Matchups </h2>
		<a mat-list-item *ngFor="let matchup of matchups" color="primary"> 
			<h3 matLine class="primary">{{ teamLoc(matchup.team1) }} {{ teamName(matchup.team1) }} {{ matchup.team1Score }}</h3>
			<h3 matLine class="primary">{{ teamLoc(matchup.team2) }} {{ teamName(matchup.team2) }} {{ matchup.team2Score }}</h3>
		</a>
	</mat-list>
</div>