<mat-toolbar color="secondary" style="height:2rem" fxLayout>
		<a class="container" fxFlex>
			<form [formGroup]="form" (ngSubmit)="submit()">
				<div class="form-group">
					<label for="season">Season: </label>
					<span class="gap"></span>
					<select formControlName="season" class="form-control" (change)="changeSeason($event)">
						<option *ngFor="let season of seasonList"> {{ season }} </option>
					</select>
				</div>
			</form>
		</a>
  <a fxFlex fxLayoutAlign="center"><b>{{ season }} Season</b></a>
  <span fxFlex fxLayoutAlign="flex-end center"></span>
</mat-toolbar>
<mat-toolbar color="secondary" style="height:2.5rem">
<!--   <span><img src="/assets/images/logo.png" height=30 width=41></span> -->
  <a mat-button *ngFor="let type of weekTypes" [routerLink]="['season',season,type.weekType]" 
    routerLinkActive="active" color="secondary"> {{type.weekTypeF}} </a>
</mat-toolbar>

<router-outlet></router-outlet>
