.mcontainer1 {
  font-size: 0.8rem;
  border: 1x solid #555;
  background: #b3bbb9;
  text-align: center;
  width: 100%;
  max-width: 35rem;
}

.titleName {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 4rem;
	border: 2px solid #555;
}

.center {
	border: 2px solid #555;
	height: 5rem;
	width: 5rem;
	margin-top: -0.5rem;
}

.cat1 {
	border: 1px solid #555;
	width: 100%;
}

.cat2 {
	border: 2px solid #555;
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 2.5rem;
}

.info2 {
	border: 5px solid #555;
	width: 100%;
}